/* Reset y estilos generales */
body.index {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ecf0f1; /* Fondo gris suave para toda la página */
}

header {
    background-color: #2ecc71; /* Verde suave */
    color: #fff;
    padding: 1em;
    text-align: center;
}

nav {
    background-color: #2ecc71; /* Verde más oscuro */
    margin-top: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 0.5em 1em;
}

section {
    padding: 2em;
    background-color: #ecf0f1; /* Fondo gris suave para la sección */
}

article {
    background-color: #ffffffcc; /* Fondo blanco semitransparente para el contenido */
    padding: 1em;
    position: relative; /* Necesario para posicionar la imagen dentro del artículo */
}

.image-right {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 28%; /* Ajusta el tamaño de la imagen según sea necesario */
}

.logo-left {
    max-width: 50%; /* Ajusta el tamaño de la imagen según sea necesario */
    margin: 0 auto; /* Centra la imagen horizontalmente */
    display: block; /* Hace que la imagen sea un bloque para manejar el margen automáticamente */
}

footer {
    background-color: #2ecc71; /* Verde suave */
    color: #fff;
    text-align:  justify;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}
